
\.vs/CmakeDependencyRemover/v15/

CmakeDependencyRemover\.Test/bin/Debug/

CmakeDependencyRemover\.Test/obj/Debug/

CmakeDependencyRemover\.Test/resource/BoggleOriginal/\.vs/Boggle/v14/

CmakeDependencyRemover\.Test/resource/BoggleOriginal/\.vs/Boggle/v15/

CmakeDependencyRemover/bin/Debug/

CmakeDependencyRemover/obj/

CmakeDependencyRemover\.Test/resource/BoggleTest/

CmakeDependencyRemover\.Test/resource/BoggleOriginal/

CmakeDependencyRemover\.Test/resource/TestFiles/CMakeFiles/

CmakeDependencyRemover\.Test/resource/TestFiles/\.vs/

CmakeDependencyRemover\.Test/resource/TestFiles/boggle_library/CMakeFiles/

CmakeDependencyRemover\.Test/resource/TestFiles/boggle_library/cmake_install\.cmake

CmakeDependencyRemover\.Test/resource/TestFiles/boggle_test/CMakeFiles/

CmakeDependencyRemover\.Test/resource/TestFiles/boggle_test/cmake_install\.cmake

CmakeDependencyRemover\.Test/resource/TestFiles/CMakeCache\.txt

CmakeDependencyRemover\.Test/resource/TestFiles/cmake_install\.cmake

CmakeDependencyRemover/CmakeDependencyRemover\.csproj\.user

CmakeDependencyRemover\.UI/bin/

CmakeDependencyRemover\.UI/obj/

CmakeDependencyRemover\.UI/CmakeDependencyRemover\.UI\.csproj\.user

packages/

\.vs/
